stages:
  - build
  - package
  - test
  - deploy

.job_template: &job_tags
  tags:
    - development

include:
  - project: 'feature-team/gitlab-pipeline-templates'
    ref: v0.0.1
    file: '/templates/common-build.yml'
  - project: 'feature-team/gitlab-pipeline-templates'
    ref: v0.0.1
    file: '/templates/common-docker.yml'
  - project: 'feature-team/gitlab-pipeline-templates'
    ref: v0.0.1
    file: '/templates/common-container-scanning.yml'
  - project: 'feature-team/gitlab-pipeline-templates'
    ref: v0.0.1
    file: '/templates/common-sast.yml'
  - project: 'feature-team/gitlab-pipeline-templates'
    ref: v0.0.1
    file: '/templates/common-helm-deploy.yml'
  - project: 'feature-team/gitlab-pipeline-templates'
    ref: master
    file: '/templates/common-variables.yml'

build:
  extends: .common-build:build
  stage: build
  <<: *job_tags
  artifacts:
    paths: 
      - build/libs/*.jar
    

docker_build:
  extends: .common-docker:image-build
  stage: package
  <<: *job_tags

container_scanning:
  extends: .common-container-scanning:container-scanning
  stage: test
  <<: *job_tags

sast:
  extends: .common-sast:sast
  image: docker:stable
  <<: *job_tags
  stage: test

deploy-dev:
  extends: .common-helm-deploy:deploy
  <<: *job_tags
  stage: deploy
  variables:
    NAMESPACE: verimi
    HELM_CHART_REPO: https://charts.prod.tools.verimi.cloud
    HELM_CHART_REPO_USERNAME: $HELM_REPO_USERNAME
    HELM_CHART_REPO_PASSWORD: $HELM_REPO_PASSWORD
    HELM_CHART_REPO_VERSION: $HELM_REPO_VERSION
  only:
    - master
