.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### runs.sh

service.yaml
mesh.yaml
mesh_out.yaml
old_run.sh
release.sh
target/
